    <!DOCTYPE html>
    <html>
    <body>
    <center>
    <h2>Angle Between Clock Hands</h2>
    <body style="background-color:grey;">    
    <form method="POST">
      <label for="fname">Hours (range 1-12):</label><br>
      <input type="text" id="Hours" name="hrs" value="{{request.form['hrs']}}"><br>
      <label for="lname">Minutes (range 0-59):</label><br>
      <input type="text" id="Minutes" name="mins" value="{{request.form['mins']}}"><br><br>
      <input type="submit" value="Submit">
      <p> {{data}}  </p>
    </center>

    </form> 
    </body>
    </html>
